<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/menu.css}">
    <style>
        #image:hover {
            cursor: default;
        }
    </style>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/readerPage.js}"></script>
</head>
<body id="home">
<div id="templatemo_header_wrapper">
    <a th:href="@{/booklist}"><div id="site_title"></div></a>
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </div>
    <div class="cleaner"></div>
</div>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form id="form-put" class="login100-form validate-form p-l-55 p-r-55 p-t-178" th:action="@{/booklist}">
					<span class="login100-form-title">
						Профиль
					</span>
                <img id="image" class="image" th:src="@{/images/avatar.png}" />
                <input id="input" class="input" type="file" accept="image/jpeg,image/png,image/gif">
                <div id="div-checkbox" class="wrap-input100 validate-input m-b-16">
                </div>
                <h3 class="m-b-8">Логин</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="login" name="login" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Имя</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="firstname" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Фамилия</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="lastname" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Год</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="number" id="year" min="1890" max="2020">
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Email</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="email" id="email" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Телефон</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="phone" pattern="\+\d{12}">
                    <span class="focus-input100"></span>
                </div>
                <div class="error-message m-b-32" id="error">
                </div>
            </form>
            <form id="form-delete" class="p-l-55 p-r-55">
                <div class="container-login100-form-btn m-b-16">
                    <button id="button-red" class="login100-form-btn">
                        Удалить
                    </button>
                </div>
            </form>
            <form class="p-l-55 p-r-55" th:action="@{/booklist}">
                <div class="container-login100-form-btn m-b-32">
                    <button id="button-blue" class="login100-form-btn">
                        На главную
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>