<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ReaderList</title>
    <link th:href="@{css/list.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{css/menu.css}" rel="stylesheet" type="text/css" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/readerList.js}"></script>
</head>
<body id="home">
<div id="templatemo_header_wrapper">
    <a th:href="@{/booklist}"><div id="site_title"></div></a>
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </div>
    <div class="cleaner"></div>
</div>
<div id="box">
<div id="header">Список читателей</div>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Логин</th>
        <th>Книга</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<div class="buttons-two">
<ul>
    <li><button id="button-list">На главную</button></li>
    <li><button id="button-email">Email</button></li>
</ul>
</div>
</body>
</html>