<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RentCreate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css"   th:href="@{/css/select.css}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/rentCreate_Reader.js}" th:if="${#request.isUserInRole('ROLE_READER')}"></script>
    <script type="text/javascript" th:src="@{/js/rentCreate_Admin.js}" th:if="${#request.isUserInRole('ROLE_ADMIN')}"></script>
</head>
<body id="home">
<div id="templatemo_header_wrapper">
    <a th:href="@{/booklist}"><div id="site_title"></div></a>
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </div>
    <div class="cleaner"></div>
</div>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form id="form" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Выдача книги
					</span>
                <h3 class="m-b-8">Книга</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="book" name="login" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Имя</h3>
                <div class="wrap-input100 validate-input m-b-16">
                <select id="reader">
                </select>
                </div>
                <h3 class="m-b-8">Дата выдачи</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="date" id="start-date" name="start-date" required>
                    <span class="focus-input100"></span>
                </div>
                <h3 class="m-b-8">Дата возврата</h3>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="date" id="finish-date" name="finish-date" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-b-16">
                    <button id="button-green" class="login100-form-btn" >
                        Взять книгу
                    </button>
                </div>
                <div class="error-message m-b-32" id="error">
                </div>
            </form>
            <form class="p-l-55 p-r-55" th:action="@{/booklist}">
                <div class="container-login100-form-btn m-b-32">
                    <button id="button-blue" class="login100-form-btn">
                        На главную
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>